<h3>この内容で投稿します。</h3>
<%= form_with(model: @post, url: choose_new_or_edit, method: confirm_new_or_edit, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>
    <p>投稿:<%= @post.content %></p>
      <%= form.hidden_field @post.image %>
      <%= form.hidden_field :image_cache %>
      <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
  <p><%= form.submit  "登録する" %></p>
  <p><%= form.submit "戻る", name: "back"%></p>
<% end %>

