<% provide(:title, 'index') %>
<h3>今日はどんな日だった？ <%= current_user.name %> さん</h3>
<button><%= link_to "その出来事を投稿しよう", new_post_path %></button><br>
<body>
  <% if @posts.count > 0 %>
    <% @posts.each do |post| %>
      <table>
        <tr>
            <td><%= post.user.name %></td>
        </tr>
        <tr>
            <td><%= post.created_at.strftime("%Y年 %m月 %d日 %H時 %M分") %></td>
        </tr>
        <tr>
            <td><button><%= link_to '詳細', post_path(post.id) %></button>
              <% if current_user.id == post.user_id %>
                <button><%= link_to '編集', edit_post_path(post.id) %></button>
                <button><%= link_to '削除', post_path(post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button>
              <% end %>
            </td>
        </tr>
        <tr>
            <td><%= post.content %></td>
        </tr>
        <tr>
            <td><%= image_tag(post.image.url) if post.image && post.image.url %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</body>


